* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
.logo {
    font-family: var(--font-en);
    letter-spacing: 2px;
}

body {
    cursor: none;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--bg-color);
}

#cursor {
    width: 20px;
    height: 20px;
    border: 1px solid var(--primary);
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s, background 0.3s;
    mix-blend-mode: difference;
}

#cursor-blur {
    width: 300px;
    height: 300px;
    background: var(--primary);
    opacity: 0.15;
    filter: blur(80px);
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: all 0.1s ease;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 5px;
    border: 2px solid var(--bg-color);
    /* Adds a gap around the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
}